anyio==3.5.0
beautifulsoup4==4.10.0
cachelib==0.5.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
Flask==2.0.2
Flask-Session==0.4.0
Flask-WTF==1.0.0
google==3.0.0
h11==0.12.0
httpcore==0.14.4
httpx==0.21.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pip==21.2.4
pybase64==1.2.1
requests==2.271
spotipy==2.19.0
tekore==4.1.0
urllib3==1.26.8
Werkzeug==2.0.2
WTForms==3.0.1
python-dotenv==0.19.2
gunicorn==20.1.0