{% extends "layout.html" %}

{% block toolbar %}
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #191414">
    <a class="navbar-brand" href="/"><img src="static\images\Spotify_Logo.png" width="200px" height="80px"></a>
    <div class="collapse navbar-collapse" id="navbar">
        <a class="btn-link" href="/"><button class="nav-btn">Home</button></a>
        <a class="btn-link" href="/your_saved_songs"><button class="nav-btn">Liked Songs</button></a>
        <a class="btn-link" href="/trending"><button class="nav-btn">Trending</button></a>
        <a class="btn-link" href="/artist_top_tracks"><button class="nav-btn">Artist's Top 10</button></a>
        <a class="btn-link" href="/genre_rec"><button class="nav-btn">Genres</button></a>
        <a class="btn-link" href="/about"><button class="active-btn">About</button></a>
    </div>
        <a class="btn-link" href="/current_user"><button style="float: inline-end;" class="nav-btn">My Profile</button></a>
        <a class="btn-link" href="/sign_out"><button style="float: right" class="nav-btn">Sign Out</button></a>
</nav>
{% endblock %}

{% block main %}

<body>

    <h1 style="text-transform: uppercase; color: #1DB954; font-family: 'Gotham Bold';">About Spotify<span>Collage</span></h1></br>
    <h5 class="text-white"> <span style="font-family: Gotham Bold;">Spotify</span>Collage was made for the
        nwHacks 2022 Hackathon. With <span style="font-family: Gotham Bold;">Spotify</span>Collage, users have access to a variety of data (made
        available through the Spotify Web API) all bundled together in aesthetic collages! You can take
        a look at your 50 most recent liked songs, the top trending songs, your favorite artist's greatest hits, as well as recommendations from multiple genres! 
        <span style="font-family: Gotham Bold;">Spotify</span>Collage offers the functionality of Spotify with a more compact, stylish look, and lets users find what they need, as soon as they need it.
    </h5>
    <br>
    <br>
    <h6 style="color: #1DB954">
         Project created by Imaad Junaidi, Yajas Malhotra, Eric Li, Yu Cheng Li
    </h6>
    </body>

{% endblock %}
