{% extends "layout.html" %}

{% block main %}

<div class="content-section">
    <div class="media">
    <img class="rounded-circle account-img mx-auto" src="{{ image_url }}"/>
    </div>
    <div class="media-body">
        <p>
        <h2 class="account-heading text-white">{{ username }}</h2>
        <a href="{{ spotify_link }}" target="_blank">
            <button type="button" class="btn btn-lg">Open in <img src="static\images\spotify-32.png"/></button>
        </a>
        </p>
    </div>
</div>

{% endblock %}
