{% extends "layout.html" %}

{% block toolbar %}
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #191414">
    <a class="navbar-brand" href="/"><img src="static\images\Spotify_Logo.png" width="200px" height="80px"></a>
    <div class="collapse navbar-collapse" id="navbar">
        <a class="btn-link" href="/"><button class="nav-btn">Home</button></a>
        <a class="btn-link" href="/your_saved_songs"><button class="nav-btn">Liked Songs</button></a>
        <a class="btn-link" href="/currently_playing"><button class="nav-btn">Currently Playing</button></a>
        <a class="btn-link" href="/artist_top_tracks"><button class="nav-btn">Artist Top Tracks</button></a>
        <a class="btn-link" href="/genre_rec"><button class="nav-btn">Recommendations</button></a>
        <a class="btn-link" href="/trending"><button class="nav-btn">Trending</button></a>
        <a class="btn-link" href="/about"><button class="nav-btn">About</button></a>
    </div>
        <a class="btn-link" href="/current_user"><button style="float: inline-end;" class="active-btn">My Profile</button></a>
        <a class="btn-link" href="/sign_out"><button style="float: right" class="nav-btn">Sign Out</button></a>
</nav>
{% endblock %}

{% block main %}

<div class="content-section">
    <div class="media">
    <img class="rounded-circle account-img mx-auto" style="width: 200px; height: 200px;" src="{{ image_url }}"/>
    </div>
    <div class="media-body">
        <p>
        <h2 class="account-heading text-white">{{ username }}</h2>
        <a href="{{ spotify_link }}" target="_blank">
            <button type="button" class="btn btn-lg">Open in <img src="static\images\spotify-32.png"/></button>
        </a>
        </p>
    </div>
</div>

{% endblock %}
