{% extends "layout.html" %}

{% block main %}

<div class="content-section">
    <h1 style="text-transform: uppercase; color: #1DB954">Currently Playing</h1>
    <div class="media">
        <img style="max-width: 30%" class="mx-auto" src="{{ image }}"/>
    </div>
    <div class="media-body text-white">
        <p>
        <h4>{{ title }}</h4>
        <h5>{{ album }}</h5>
        <h6>{{ artist }}</h6>
        </p>
    </div>
    {% if show_button %}
        <a href="{{ link }}" target="_blank"><button type="button" class="btn btn-lg">Open in <img src="static\images\spotify-32.png"/></button></a>
    {% else %}
        <h3 class="text-white">No Song Currently Playing</h3>
    {% endif %}
</div>

{% endblock %}