{% extends "layout.html" %}

{% block toolbar %}
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #191414">
    <a class="navbar-brand" href="/"><img src="static\images\Spotify_Logo.png" width="200px" height="80px"></a>
    <div class="collapse navbar-collapse" id="navbar">
      <a class="btn-link" href="/"><button class="nav-btn">Home</button></a>
      <a class="btn-link" href="/your_saved_songs"><button class="nav-btn">Liked Songs</button></a>
      <a class="btn-link" href="/trending"><button class="nav-btn">Trending</button></a>
      <a class="btn-link" href="/artist_top_tracks"><button class="nav-btn">Artist's Top 10</button></a>
      <a class="btn-link" href="/genre_rec"><button class="active-btn">Genres</button></a>
      <a class="btn-link" href="/about"><button class="nav-btn">About</button></a>
    </div>
        <a class="btn-link" href="/current_user"><button style="float: inline-end;" class="nav-btn">My Profile</button></a>
        <a class="btn-link" href="/sign_out"><button style="float: right" class="nav-btn">Sign Out</button></a>
</nav>
{% endblock %}

{% block title %}
    Genre Recommendations
{% endblock %}

{% block main %}

    <h1 style="text-transform: uppercase">{{ genre }}</h1>

    <form method="post" action="#">
      <button class="genre-btn row-1" name="genre_rec" value="acoustic" type="submit">ACOUSTIC</button>
      <button class="genre-btn row-1" name="genre_rec" value="alternative" type="submit">ALTERNATIVE</button>
    </br>
      <button class="genre-btn row-2" name="genre_rec" value="classical" type="submit">CLASSICAL</button>
      <button class="genre-btn row-2" name="genre_rec" value="country" type="submit">COUNTRY</button>
    </br>
      <button class="genre-btn row-3" name="genre_rec" value="electronic" type="submit">ELECTRONIC</button>
      <button class="genre-btn row-3" name="genre_rec" value="folk" type="submit">FOLK</button>
    </br>
      <button class="genre-btn row-4" name="genre_rec" value="goth" type="submit">GOTH</button>
      <button class="genre-btn row-4" name="genre_rec" value="hip-hop" type="submit">HIP-HOP</button>
    </br>
      <button class="genre-btn row-5" name="genre_rec" value="holidays" type="submit">HOLIDAYS</button>
      <button class="genre-btn row-5" name="genre_rec" value="indie" type="submit">INDIE</button>
    </br>
      <button class="genre-btn row-6" name="genre_rec" value="jazz" type="submit">JAZZ</button>
      <button class="genre-btn row-6" name="genre_rec" value="k-pop" type="submit">K-POP</button>
    </br>
      <button class="genre-btn row-7" name="genre_rec" value="kids" type="submit">KIDS</button>
      <button class="genre-btn row-7" name="genre_rec" value="pop" type="submit">POP</button>
    </br>
      <button class="genre-btn row-8" name="genre_rec" value="r-n-b" type="submit">R-N-B</button>
      <button class="genre-btn row-8" name="genre_rec" value="rock" type="submit">ROCK</button>
    </br>
      <button class="genre-btn row-9" name="genre_rec" value="romance" type="submit">ROMANCE</button>
      <button class="genre-btn row-9" name="genre_rec" value="sad" type="submit">SAD</button>
    </br>
      <button class="genre-btn row-10" name="genre_rec" value="soundtracks" type="submit">SOUNDTRACKS</button>
      <button class="genre-btn row-10" name="genre_rec" value="world-music" type="submit">WORLD-MUSIC</button>
    </form>



{% endblock %}