{% extends "layout.html" %}

{% block toolbar %}
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #191414">
    <a class="navbar-brand" href="/"><img src="static\images\Spotify_Logo.png" width="200px" height="80px"></a>
    <div class="collapse navbar-collapse" id="navbar">
        <a class="btn-link" href="/"><button class="nav-btn">Home</button></a>
        <a class="btn-link" href="/your_saved_songs"><button class="nav-btn">Liked Songs</button></a>
        <a class="btn-link" href="/currently_playing"><button class="nav-btn">Currently Playing</button></a>
        <a class="btn-link" href="/artist_top_tracks"><button class="nav-btn">Artist Top Tracks</button></a>
        <a class="btn-link" href="/genre_rec"><button class="active-btn">Recommendations</button></a>
        <a class="btn-link" href="/trending"><button class="nav-btn">Trending</button></a>
        <a class="btn-link" href="/about"><button class="nav-btn">About</button></a>
    </div>
        <a class="btn-link" href="/current_user"><button style="float: inline-end;" class="nav-btn">My Profile</button></a>
        <a class="btn-link" href="/sign_out"><button style="float: right" class="nav-btn">Sign Out</button></a>
</nav>
{% endblock %}

{% block main %}
<div class="text-white">
    <h1 style="text-transform: uppercase; color: #1DB954">{{ name }}</h1>

    {% for track in tracklist %}
        {{track}}
</br></br>
    {% endfor %}


    {% for image in images %}
    <img src={{image}} width="100" height="100">
    {% endfor %}
<div/>

{% endblock %}