<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/index.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Spotify Collage</title>

    </head>

    <body style="background-color: #191414" class="sign-in">
        <div style="color: #1DB954">Welcome to</div>
        <div style="color: white"><span style="font-family: Gotham Bold;">Spotify</span>Collage</div>
        <a class="sign-in-link" href="{{auth_url}}"><button type="button" class="btn btn-lg"><img src="static\images\spotify-32.png"/> Log in with Spotify</button></a>
    </body>

</html>