{% extends "layout.html" %}

<html>

{% block main %}

<body>

    <h1 class="text-white">About Our Project</h1>
    <br>
    <h2 class="text-white">Spotify Collage</h2> 
    <br>
    <p class="text-white"> Spotify Collage is a project made for the
        nwHacks 2022 Hackathon. The purpose of the website
        is to showcase global spotify popularity statistics through
        a collage of songs and album covers. The website shows data for
        artist top ten tracks as well as the current global top fifty trending music.
        Additional features include showing user's current playing music and song
        recommendation based on chosen genre.

    </p>
    <img src = "https://www.nwhacks.io/nwhacks-metaimage.png" height = "240" width = "400">
    <br>
    <br>
    <p class="text-white">
         Project created by Imaad Junaidi, Yajas Malhotra, Eric Li, Yu Cheng Li
    </p>
    </body>
   
</html>

{% endblock %}
