{% extends "layout.html" %}

<html>

<head>
    <title> About our project </title>

</head>

{% block main %}

<body>

    <h1 class="text-white">About</h1>

    <h2 class="text-white">Spotify Collage</h2> 
    <p class="text-white"> Spotify Collage is a project made for the
        nwHacks 2022 Hackathon. The purpose of the website
        is to showcase global and personal spotify statistics through
        a collage of songs and album covers. This website shows data for
        artist top tracks as well as recommendations based on the chosen genre.
        Additional features include showing user's current playing music, most
        listened artists and playlists.

    </p>

</body>
   
</html>

{% endblock %}
