{% extends "layout.html" %}

<html>

<head>
    <title> About our project </title>

</head>

{% block main %}

<body>

    <h1 class="text-white">About</h1>

    <h2 class="text-white">Spotify Collage</h2> 
    <p class="text-white"> Spotify Collage is a project made for the
        nwHacks 2022 Hackathon. The purpose of the website
        is to showcase global spotify statistics as well
        as allowing the user to view their own statistics.
        This is shown through a collage of songs and album
        covers... etc
    </p>

</body>
   
</html>

{% endblock %}
