{% extends "layout.html" %}

{% block main %}

<div class="form-group">
    {% if form.artist.errors %}
        {{ form.artist(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.artist.errors %}
                <span>{{  error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.artist(class="form-control form-control-lg", placeholder="Search your favorite artists") }}
        {% endif %}
    </br>
    {{ form.submit(class="btn btn-success btn-lg btn-block") }}
</div>

<div class="media-body text-white">
    {% for track in top_tracks %}
        <p>track[0] track[1]</p>
    {% endfor %}
</div>

{% endblock %}