{% extends "layout.html" %}

{% block title %}
    Genre Recommendations
{% endblock %}

{% block main %}

<form action="#" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-group form-control form-control-lg" name="genre_rec" placeholder="Search genre" type="text" required>
        <h1 style="color:white">Testing something here This shit is broken<h1/>
    </div>
    <button style="background-color: #1DB954; border-radius: 12px" class="btn btn-lg btn-block" type="submit">Search</button>
</form>

{% endblock %}